transformers==5.9.0
sentence-transformers==5.5.1
nvidia-ml-py==13.595.45

--find-links https://download.pytorch.org/whl/torch_stable.html
# --extra-index-url https://download.pytorch.org/whl/cpu
torch==2.12.0

